<!DOCTYPE html>
<html>
<head>
    <title>Estatísticas Anuais de Vendas</title>
</head>
<body>


    <h1>Estatísticas Anuais de Vendas</h1>

    <form method="get">
    <label for="ano">Selecione o ano:</label>
    <select name="ano" id="ano">
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <!-- Adicione mais anos conforme necessário -->
    </select>
    <button type="submit">Visualizar Estatísticas</button>
</form>

    <ul>
        {% for ano in anos %}
            <li><a href="{% url 'grafico_vendas_mes_a_mes' ano %}">{{ ano }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
