{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SE ORGANIZA</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <center>
        <img src="/static/images/seorganiza.jpg">
        <h6> </h6>
        <a href="cadastrar_produto">
        <button>CADASTRAR PRODUTOS</button>


        <h6> </h6>
        <a href="/realizar_venda">
        <button>VENDER</button>


        <h6> </h6>
        <a href="/buscar_produto">
        <button>BUSCAR PRODUTOS</button>
            <h5> </h5>


         <h6> </h6>
            <a href="/listar_produto">
        <button>PRODUTOS EM ESTOQUE</button>
         <h6> </h6>

        <h6> </h6>
            <a href="/estatisticas_vendas">
        <button>ESTATISTICAS DE VENDAS</button>
         <h6> </h6>

         <a href="/usuarios/menu">
        <button>USUÁRIOS</button>
        </a>


        <h4> ******************************************** </h4>
        <script type="text/javascript" src= "{% static 'js/script.js' %}"></script>
                <h2>proximas atualizações</h2>
                <h5> </h5>

                <h5>adicionar grafico das vendas anuais </h5>
                <h5>organizar usuarios com herança</h5>
                <h5>separar estoque por usuario</h5>
                <h5>deletar e listar usuario</h5>
                <h5>estatistas de venda total e por usuario</h5>
                <h5>listar usuarios com herança, ecapsulamento e polimorfismo</h5>
                <h5>detalhar o produto</h5>
                <h5> Swagger</h5>


                <h5></h5>


</body>
</html>