<!DOCTYPE html>
<html>
<head>
    <title>Menu do Usuário</title>
</head>
<body>
    <center>
        <h1>Menu do Usuário</h1>
        <p>BEM-VINDO! {{ user.username }}</p>
        <ul>
            {% if user.is_superuser %}
                <a href="{% url 'usuarios:cadastro' %}">
                    <button>CADASTRAR USUÁRIO</button>
                </a>
                <h3> </h3>
                <a href="{% url 'usuarios:listar_usuarios' %}">
                    <button>LISTAR USUÁRIOS</button>
                </a>
                <h3> </h3>
            {% endif %}
            <a href="{% url 'usuarios:login' %}">
                <button>LOGIN</button>
            </a>
            <h3> </h3>
            <a href="{% url 'usuarios:logout' %}">
                <button>LOGOUT</button>
            </a>
            <h3> </h3>
            <a href="{% url 'index' %}">
                <button>RETORNAR À PÁGINA INICIAL</button>
            </a>
            <h3> </h3>
        </ul>
    </center>
</body>
</html>
